

<!-- Patient Files Tab -->



<div class="ui container view-container">
<div class="ui grid patientFiles">
  <div class="six wide column">

  	<!-- Patient Files Full List -->
  	<div class="ui container list-column">
  
  	<div class="ui celled list ">
  <div class="item">

  	<i class=" icon icon-record"></i>
    
    <div class="content">
      <a class="header">12 Years a Slave</a>
      <div class="meta">
        <span class="cinema">Union Square 14</span>
      </div>
      <div class="description">
        <p> this id evry thing i ever wanted hahahahaha
        	hahahahaha ahahajaa </p>
      </div>
      <div class="extra">
        <div class="ui label">IMAX</div>
        <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
      </div>
    </div>
  </div>
    <div class="item">

  	<i class=" icon icon-record"></i>
    
    <div class="content">
      <a class="header">12 Years a Slave</a>
      <div class="meta">
        <span class="cinema">Union Square 14</span>
      </div>
      <div class="description">
        <p> this id evry thing i ever wanted hahahahaha
        	hahahahaha ahahajaa </p>
      </div>
      <div class="extra">
        <div class="ui label">IMAX</div>
        <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
      </div>
    </div>
  </div>
    <div class="item">

  	<i class=" icon icon-record"></i>
    
    <div class="content">
      <a class="header">12 Years a Slave</a>
      <div class="meta">
        <span class="cinema">Union Square 14</span>
      </div>
      <div class="description">
        <p> this id evry thing i ever wanted hahahahaha
        	hahahahaha ahahajaa </p>
      </div>
      <div class="extra">
        <div class="ui label">IMAX</div>
        <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
      </div>
    </div>
  </div>
    <div class="item">

  	<i class=" icon icon-record"></i>
    
    <div class="content">
      <a class="header">12 Years a Slave</a>
      <div class="meta">
        <span class="cinema">Union Square 14</span>
      </div>
      <div class="description">
        <p> this id evry thing i ever wanted hahahahaha
        	hahahahaha ahahajaa </p>
      </div>
      <div class="extra">
        <div class="ui label">IMAX</div>
        <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
      </div>
    </div>
  </div>
    <div class="item">

  	<i class=" icon icon-record"></i>
    
    <div class="content">
      <a class="header">12 Years a Slave</a>
      <div class="meta">
        <span class="cinema">Union Square 14</span>
      </div>
      <div class="description">
        <p> this id evry thing i ever wanted hahahahaha
        	hahahahaha ahahajaa </p>
      </div>
      <div class="extra">
        <div class="ui label">IMAX</div>
        <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
      </div>
    </div>
  </div>
    <div class="item">

  	<i class=" icon icon-record"></i>
    
    <div class="content">
      <a class="header">12 Years a Slave</a>
      <div class="meta">
        <span class="cinema">Union Square 14</span>
      </div>
      <div class="description">
        <p> this id evry thing i ever wanted hahahahaha
        	hahahahaha ahahajaa </p>
      </div>
      <div class="extra">
        <div class="ui label">IMAX</div>
        <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
      </div>
    </div>
  </div>
    <div class="item">

  	<i class=" icon icon-record"></i>
    
    <div class="content">
      <a class="header">12 Years a Slave</a>
      <div class="meta">
        <span class="cinema">Union Square 14</span>
      </div>
      <div class="description">
        <p> this id evry thing i ever wanted hahahahaha
        	hahahahaha ahahajaa </p>
      </div>
      <div class="extra">
        <div class="ui label">IMAX</div>
        <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
      </div>
    </div>
  </div>
    <div class="item">

  	<i class=" icon icon-record"></i>
    
    <div class="content">
      <a class="header">12 Years a Slave</a>
      <div class="meta">
        <span class="cinema">Union Square 14</span>
      </div>
      <div class="description">
        <p> this id evry thing i ever wanted hahahahaha
        	hahahahaha ahahajaa </p>
      </div>
      <div class="extra">
        <div class="ui label">IMAX</div>
        <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
      </div>
    </div>
  </div>
    <div class="item">

  	<i class=" icon icon-record"></i>
    
    <div class="content">
      <a class="header">12 Years a Slave</a>
      <div class="meta">
        <span class="cinema">Union Square 14</span>
      </div>
      <div class="description">
        <p> this id evry thing i ever wanted hahahahaha
        	hahahahaha ahahajaa </p>
      </div>
      <div class="extra">
        <div class="ui label">IMAX</div>
        <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
      </div>
    </div>
  </div>
    <div class="item">

  	<i class=" icon icon-record"></i>
    
    <div class="content">
      <a class="header">12 Years a Slave</a>
      <div class="meta">
        <span class="cinema">Union Square 14</span>
      </div>
      <div class="description">
        <p> this id evry thing i ever wanted hahahahaha
        	hahahahaha ahahajaa </p>
      </div>
      <div class="extra">
        <div class="ui label">IMAX</div>
        <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
      </div>
    </div>
  </div>
    <div class="item">

  	<i class=" icon icon-record"></i>
    
    <div class="content">
      <a class="header">12 Years a Slave</a>
      <div class="meta">
        <span class="cinema">Union Square 14</span>
      </div>
      <div class="description">
        <p> this id evry thing i ever wanted hahahahaha
        	hahahahaha ahahajaa </p>
      </div>
      <div class="extra">
        <div class="ui label">IMAX</div>
        <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
      </div>
    </div>
  </div>
    <div class="item">

  	<i class=" icon icon-record"></i>
    
    <div class="content">
      <a class="header">12 Years a Slave</a>
      <div class="meta">
        <span class="cinema">Union Square 14</span>
      </div>
      <div class="description">
        <p> this id evry thing i ever wanted hahahahaha
        	hahahahaha ahahajaa </p>
      </div>
      <div class="extra">
        <div class="ui label">IMAX</div>
        <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
      </div>
    </div>
  </div>
    <div class="item">

  	<i class=" icon icon-record"></i>
    
    <div class="content">
      <a class="header">12 Years a Slave</a>
      <div class="meta">
        <span class="cinema">Union Square 14</span>
      </div>
      <div class="description">
        <p> this id evry thing i ever wanted hahahahaha
        	hahahahaha ahahajaa </p>
      </div>
      <div class="extra">
        <div class="ui label">IMAX</div>
        <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
      </div>
    </div>
  </div>
    <div class="item">

  	<i class=" icon icon-record"></i>
    
    <div class="content">
      <a class="header">12 Years a Slave</a>
      <div class="meta">
        <span class="cinema">Union Square 14</span>
      </div>
      <div class="description">
        <p> this id evry thing i ever wanted hahahahaha
        	hahahahaha ahahajaa </p>
      </div>
      <div class="extra">
        <div class="ui label">IMAX</div>
        <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
      </div>
    </div>
  </div>
  <div class="item">

  	<i class=" icon icon-record"></i>
    
    <div class="content">
      <a class="header">My Neighbor Totoro</a>
      <div class="meta">
        <span class="cinema">IFC Cinema</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        
        <div class="ui label">Limited</div>
      </div>
    </div>
  </div>
  <div class="item">

  	<i class=" icon icon-record"></i>
    
    <div class="content">
      <a class="header">Watchmen</a>
      <div class="meta">
        <span class="cinema">IFC</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
       
      </div>
    </div>
  </div>
</div>

</div>

  </div>
  <div class="ten wide column ">

    

  	<div class="ui container focus-cont">



  	<div class="ui raised segment yo">
  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
</div>
</div>

  </div>
 
</div>

</div>